.products{
    height: 344px;
}
.filter-heading{
    padding: 5px 0px;
    margin-bottom: 25px;
    background-color: #e5e5e5;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center; 
}
@media only screen and (max-width: 992px){
    #filter{
        display: none;
    }
}
@media only screen and (min-width: 993px){
    #filter{
        display: block !important;
    }
}
.filter-select{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 2px;
}
.filter-brands{
    padding: 10px 0px;
}
.filter-brands ul{
    display: block;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}
.filter-brands ul li{
    list-style:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.filter-price{
    padding-bottom: 10px;
}
.filter-price ul li{
    font-size: 12px;
    font-weight: 400;
}
.filter-price ul{
    display: block;
    margin-top: 15px;
    padding: 0;
    margin-bottom: 5px;
}
.filter-size{
    padding-bottom: 10px;
}
.filter-size ul{
    list-style:none;
    padding: 0;
    margin-top: 15px;
}
.filter-size li{
    float: left;
}
.filter-size input[type="checkbox"] {
    display: none;
}
.filter-size li input[type="checkbox"]:checked + label{
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #c3c3c3;
}
.filter-size li label {
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: relative;
    border: 1px solid #e5e5e5;   
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.filter-control{
    cursor: pointer;   
}
.direction{
    margin: 0px 20px 0px 10px;
    opacity: 0.4;
}
.page-num{
    opacity: 0.4;
    margin: 0px 10px;
}
.to-num{
    margin-right: 10px;
}
.current{
    color: #888888;
}
.direction:hover, .page-num:hover{
    opacity: 1;
}
.current{
    opacity: 1;
}
.direction-bar{
    margin: 30px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.form-check-input:checked {
	background-color: #000000;
	border-color: #000000;
	box-shadow: 0px 0px 100px 0.2px #666666;
}
.form-check-input:focus {
	border-color: #666666;
	box-shadow: 0px 0px 50px 2px #666666;
}
.filter-btn{
    margin: 25px 0px;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
  	padding: 10px;
  	font-weight: 500;
  	transition: all 0.5s ease;
  	position: relative;
	background: #000000;
  	border: 0.2px solid #000000;
  	z-index: 1;
}
.filter-btn:after {
  	position: absolute;
  	content: "";
  	width: 0;
  	height: 100%;
  	top: 0;
  	right: 0;
  	z-index: -1;
  	background-color: #FFFFFF;
  	transition: all 0.5s ease;
}
.filter-btn:hover{
  	color: #000000;
	border: 0.2px solid #000000;	
}
.filter-btn:hover:after {
  	left: 0;
  	width: 100%;
}